/* Coolors Exported Palette - coolors.co/39a0ed-435058-e5446d-f1db4b-36f1cd */

/* HSL */
$color1: hsla(206%, 83%, 58%, 1);
$color2: hsla(203%, 14%, 30%, 1);
$color3: hsla(345%, 76%, 58%, 1);
$color4: hsla(52%, 86%, 62%, 1);
$color5: hsla(168%, 87%, 58%, 1);

/* RGB */
$color1: rgba(57, 160, 237, 1);
$color2: rgba(67, 80, 88, 1);
$color3: rgba(229, 68, 109, 1);
$color4: rgba(241, 219, 75, 1);
$color5: rgba(54, 241, 205, 1);