@import "variables.scss";

@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Lexend+Exa|Lexend+Giga|Lexend+Mega|Lexend+Peta|Lexend+Tera|Lexend+Zetta&display=swap");

body {
  background-color: $cb-black;
  color: $cb-blue;
  text-align: center;
  font-family: "Lexend", sans-serif;
  padding-top: 100px;
}

.social-icons {
  display: inline-block;
}

.social-icons img {
  margin-right: 15px;
  opacity: 0.5;
}

.social-icons img:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
