/* Coolors Exported Palette - coolors.co/f0f2ef-bcd979-313638-62bbc1-de3c4b */
/* HSL */
/* RGB */
@import url("https://fonts.googleapis.com/css?family=Lexend+Deca|Lexend+Exa|Lexend+Giga|Lexend+Mega|Lexend+Peta|Lexend+Tera|Lexend+Zetta&display=swap");
/*
font-family: 'Lexend Deca', sans-serif;
font-family: 'Lexend Exa', sans-serif;
font-family: 'Lexend Giga', sans-serif;
font-family: 'Lexend Mega', sans-serif;
font-family: 'Lexend Zetta', sans-serif;
font-family: 'Lexend Tera', sans-serif;
font-family: 'Lexend Peta', sans-serif;
*/
body {
  background-color: #313638;
  color: #62bbc1;
  text-align: center;
  font-family: "Lexend Deca", sans-serif;
  padding-top: 100px;
}

.social-icons {
  display: inline-block;
}

.social-icons img {
  margin-right: 15px;
  opacity: 0.5;
}

.social-icons img:hover {
  opacity: 1;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
