/* Coolors Exported Palette - coolors.co/f0f2ef-bcd979-313638-62bbc1-de3c4b */

/* HSL */
$color1: hsla(100%, 10%, 94%, 1);
$color2: hsla(78%, 56%, 66%, 1);
$color3: hsla(197%, 7%, 21%, 1);
$color4: hsla(184%, 43%, 57%, 1);
$color5: hsla(354%, 71%, 55%, 1);

/* RGB */
$cb-white: rgba(240, 242, 239, 1);
$cb-green: rgba(188, 217, 121, 1);
$cb-black: rgba(49, 54, 56, 1);
$cb-blue: rgba(98, 187, 193, 1);
$cb-red: rgba(222, 60, 75, 1);